# Ignore Data
lending-club-data/
processed_data/
lending_club_sampled.csv
*.csv
*.zip
*.gz

# Ignore Logs and Models
d3rlpy_logs/
*.pth
*.d3
*.pkl

# Ignore System/Python files
__pycache__/
.DS_Store
.vscode/